<footer class="bg-main text-link p-5">
    <div class="container m-auto ">

        <div class="footer-child mr-auto mb-5">
            <div class="relative flex items-center mr-20 py-2">
                <img class="w-28 mb-1" src="assets/images/icon/icon.svg" alt="">
            </div>
            <label class="block text-sm mb-1 text-link font-medium">고객센터 운영시간</label>
            <label class="block text-sm mb-1 text-link font-medium">365일 24시간 연중무휴</label>
        </div>

        <div class="items-start mb-20">
            <div class="flex">
                <div class="footer-child w-1/2">
                    <div class="relative flex items-center mr-20 py-2 mb-3">
                        <h3 class="text-md font-bold text-slate-800">투자하기</h3>
                    </div>
                    <label class="block text-md text-link font-normal text-sm mb-2">BTC/USD 투자</label>
                    <label class="block text-md text-link font-normal text-sm mb-2">ETH/USD 투자</label>
                </div>
                <div class="footer-child w-1/2">
                    <div class="relative flex items-center mr-20 py-2 mb-3">
                        <h3 class="text-md font-bold text-slate-800">소개</h3>
                    </div>
                </div>
            </div>
            
            <div class="flex">

                <div class="footer-child w-1/2">
                    <div class="relative flex items-center mr-20 py-2 mb-3">
                        <h3 class="text-md font-bold text-slate-800">원화 입출금</h3>
                    </div>
                    <label class="block text-md text-link font-normal text-sm mb-2">원화입금</label>
                    <label class="block text-md text-link font-normal text-sm mb-2">원화출금</label>
                    <label class="block text-md text-link font-normal text-sm mb-2">입출금 내역조회</label>
                </div>
                <div class="footer-child w-1/2">
                    <div class="relative flex items-center mr-20 py-2 mb-3">
                        <h3 class="text-md font-bold text-slate-800">고객지원</h3>
                    </div>
                    <label class="block text-md text-link font-normal text-sm mb-2">나의 거래내역</label>
                    <label class="block text-md text-link font-normal text-sm mb-2">내정보</label>
                    <label class="block text-md text-link font-normal text-sm mb-2">우편함</label>
                    <label class="block text-md text-link font-normal text-sm mb-2">고객센터</label>
                </div>
            </div>
          
        </div>

        
    </div>

</footer>