@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif!important;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.border-1 {
    border-width: 1px;
}

body {
    max-width: 650px!important;
    margin: auto!important;
}

#frame {
    min-width: 1200px!important;
    left: 0;
    bottom: 0;
}

.container {
    max-width: 650px!important;
}

.drop-menu {
    border-radius: 5px;
    top: 100px!important;
}

.drop-parent {
    display: flex;
    align-items: center;
    height: 100%;
}

.drop-parent:hover .drop-menu {
    display: block!important;
}

.child-drop-menu {
    line-height: 0.1px;
    margin-bottom:20px!important;
}

.child-drop-menu:last-child {
    margin: 0!important;
}
.child-drop-menu:hover .title {
    color: #0671f4;
}

.child-drop-menu:hover .arrow-right  {
    color: #0671f4;
    display: block;
}


.drop-parent .arrow-right {
    display: none;
    position: absolute;
    right: -10px;
    top: 30%;
    transform: translate(-50% , 0);
}

.home-overlay {
    position: absolute;
    left: 110%;
    top: 50%;
    max-width: 600px;
    z-index: -1;
    opacity: 0.2;
    filter: blur(2px);
    transform: translate(-50% , -50%);
}

.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 50;
    overflow-y: scroll;
    transition: 0.2s ease-out;
}

.arrow-right {
    position: absolute;
    right: 0;
    top: 0;
}

.table-date {
    right: 0;
    position: absolute;
    background: white;
    height: 100%;
    display: flex;
    align-items: center;
    width: 35%;
}
