<div class="w-full bg-main ">
    <div class="container m-auto flex items-center">
        <!-- Brand Icon -->
        <div class="relative flex items-center mr-20 py-5">
            <img class="w-20 mr-2" src="assets/images/icon/logo.png" alt="">
            <h3 class="text-3xl font-black italic text-primary">ONE BTC</h3>
        </div>
        <!-- Menu Lists -->
        <div class="flex text-link " style="height: 100px">

            <div class="mr-5 relative  drop-parent">
                <label class="font-bold flex items-center cursor-pointer">
                    <span>ONE BTC</span>
                    <img class="ml-2 w-6" src="assets/images/icon/caret-down.svg" alt="">
                </label>
                <div class="drop-menu w-80 p-4 absolute bg-main top-16 left-0 text-slate-300" style="display: none;">
                    <div class="child-drop-menu relative py-3 cursor-pointer">
                        <span class="mb-1 block font-bold title">보안시스템</span>
                        <span class="text-sm text-slate-500 font-medium">ONE BTC의 새로운 보안시스템</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                             </svg>
                        </div>
                    </div>
                    <div class="child-drop-menu relative py-3 cursor-pointer">
                        <span class=" mb-1 block font-bold title">보안시스템</span>
                        <span class="text-sm text-slate-500 font-medium">ONE BTC에는 어떤 장점이 있는지 알아보세요</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                             </svg>
                        </div>
                    </div>
                    <div class="child-drop-menu relative py-3 cursor-pointer">
                        <span class=" mb-1 block font-bold title">보안시스템</span>
                        <span class="text-sm text-slate-500 font-medium">이동 중 거래도 놓치지 마십시오.</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                             </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mr-5 relative  drop-parent">
                <label class="font-bold flex items-center cursor-pointer">
                    <span>거래소</span>
                    <img class="ml-2 w-6" src="assets/images/icon/caret-down.svg" alt="">
                </label>
                <div class="drop-menu w-80 p-4 absolute bg-main top-16 left-0 text-slate-300" style="display: none;">
                    <div class="child-drop-menu relative py-3 cursor-pointer">
                        <span class="mb-1 block font-bold title">BTC/USDT</span>
                        <span class="text-sm text-slate-500 font-medium">비트코인 플랫폼의 다양한 거래</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                             </svg>
                        </div>
                    </div>
                    <div class="child-drop-menu relative py-3 cursor-pointer">
                        <span class=" mb-1 block font-bold title">거래내역</span>
                        <span class="text-sm text-slate-500 font-medium">나의 거래정보를 확인</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                             </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mr-5 relative  drop-parent">
                <label class="font-bold flex items-center cursor-pointer">
                    <span>원화 입출금</span>
                    <img class="ml-2 w-6" src="assets/images/icon/caret-down.svg" alt="">
                </label>
                <div class="drop-menu w-80 p-4 absolute bg-main top-16 left-0 text-slate-300" style="display: none;">
                    <div class="child-drop-menu relative py-3 cursor-pointer">
                        <span class="mb-1 block font-bold title">원화입금</span>
                        <span class="text-sm text-slate-500 font-medium">쉬운 방법으로 간편한 원화 입금</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                             </svg>
                        </div>
                    </div>
                    <div class="child-drop-menu relative py-3 cursor-pointer">
                        <span class=" mb-1 block font-bold title">원화출금</span>
                        <span class="text-sm text-slate-500 font-medium">간편하고 쉽게 즉시 출금받기</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                             </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mr-5 relative  drop-parent">
                <label class="font-bold flex items-center cursor-pointer">
                    <span>시장 보기</span>
                    <img class="ml-2 w-6" src="assets/images/icon/caret-down.svg" alt="">
                </label>
                <div class="drop-menu w-80 p-4 absolute bg-main top-16 left-0 text-slate-300" style="display: none;">
                    <div class="child-drop-menu relative py-3 cursor-pointer">
                        <span class="mb-1 block font-bold title">시장 트렌드</span>
                        <span class="text-sm text-slate-500 font-medium">전세계 트렌드를 한 눈에 확인하세요</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                             </svg>
                        </div>
                    </div>
                    <div class="child-drop-menu relative py-3 cursor-pointer">
                        <span class=" mb-1 block font-bold title">세계환율</span>
                        <span class="text-sm text-slate-500 font-medium">실시간 금융 추세를 확인하세요</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                             </svg>
                        </div>
                    </div>
                    <div class="child-drop-menu relative py-3 cursor-pointer">
                        <span class=" mb-1 block font-bold title">세계선물자산</span>
                        <span class="text-sm text-slate-500 font-medium">현물 자산의 흐름을 확인하세요</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                             </svg>
                        </div>
                    </div>
                </div>
             
            </div>
            <div class="mr-5 relative  drop-parent">
                <label class="font-bold flex items-center cursor-pointer">
                    <span>고객지원</span>
                    <img class="ml-2 w-6" src="assets/images/icon/caret-down.svg" alt="">
                </label>
                <div class="drop-menu w-80 p-4 absolute bg-main top-16 left-0 text-slate-300" style="display: none;">
                    <div class="child-drop-menu relative py-3 cursor-pointer">
                        <span class="mb-1 block font-bold title">FAQ</span>
                        <span class="text-sm text-slate-500 font-medium">자주 묻는 질문</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                             </svg>
                        </div>
                    </div>
                    <div class="child-drop-menu relative py-3 cursor-pointer">
                        <span class=" mb-1 block font-bold title">1:1 문의</span>
                        <span class="text-sm text-slate-500 font-medium">궁금한 사항을 확인하세요 <br/> 상담사가 대기중입니다.</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                             </svg>
                        </div>
                    </div>
                    <div class="child-drop-menu relative py-3 cursor-pointer">
                        <span class=" mb-1 block font-bold title">우편함</span>
                        <span class="text-sm text-slate-500 font-medium">중요한 정보를 확인</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                             </svg>
                        </div>
                    </div>
                    <div class="child-drop-menu relative py-3 cursor-pointer">
                        <span class=" mb-1 block font-bold title">내정보</span>
                        <span class="text-sm text-slate-500 font-medium">내 정보를 확인하세요</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                             </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Credentials Section -->
        <div class="ml-auto">
            <button class="text-white mr-2 font-bold p-2 px-4">로그인</button>
            <button class="text-white mr-2 font-bold p-2 px-4 rounded-md bg-primary">회원가입</button>
        </div>

    </div>
</div>