<div class="w-full bg-main">
    <div class="container m-auto flex items-center justify-between px-5">
        <!-- Brand Icon -->
        <div class="relative flex items-center py-5 cursor-pointer" onclick="location.href='index.html'">
            <img class="w-40" src="assets/images/icon/icon.svg" alt="">
        </div>
            <!-- Brand Icon -->
        <div class="relative flex items-center py-5 cursor-pointer" onclick="OpenSidebar()">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="35" height="35" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <line x1="4" y1="6" x2="20" y2="6"></line>
                <line x1="4" y1="12" x2="20" y2="12"></line>
                <line x1="4" y1="18" x2="20" y2="18"></line>
                </svg>
        </div>
    </div>
</div>


<div class="sidebar pb-20">
    <div class="container mx-auto">
        <div class="container m-auto flex items-center justify-between px-5 sticky top-0 bg-white z-40">
            <!-- Brand Icon -->
            <div class="relative flex items-center py-5 cursor-pointer" onclick="location.href='index.html'">
                <img class="w-40" src="assets/images/icon/icon.svg" alt="">
            </div>
                <!-- Brand Icon -->
            <div class="relative flex items-center py-5 cursor-pointer " onclick="CloseSidebar()">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="35" height="35" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
        </div>

        <div class="flex px-5 guest-block">
            <label class="w-1/2 relative mr-2 px-10 font-bold text-md  bg-primary/10 rounded-md border-2 border-primary/20 text-slate-500 px-4 py-2 block" onclick="location.href='login.html'">
                로그인
                <div class="arrow-right top-2 right-5">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <line x1="15" y1="16" x2="19" y2="12"></line>
                        <line x1="15" y1="8" x2="19" y2="12"></line>
                    </svg>
                </div>
            </label>
            <label class="w-1/2 relative mr-2 px-10 font-bold text-md  bg-primary/10 rounded-md border-2 border-primary/20 text-slate-500 px-4 py-2 block" onclick="location.href='register.html'">
                회원가입
                <div class="arrow-right top-2 right-5">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <line x1="15" y1="16" x2="19" y2="12"></line>
                        <line x1="15" y1="8" x2="19" y2="12"></line>
                    </svg>
                </div>
            </label>
        </div>
        
        <div class="px-5 user-block flex justify-between text-xs " style="display: none">
            <div class="w-3/4 flex relative mr-2 px-5 py-3 font-bold text-md  bg-primary/10 rounded-md border-2 border-primary/20 text-slate-500 px-4 block justify-between">
                <label>보유 보증금 :</label>
                <label class="text-primary">390,570,704원</label>
            </div>
            <div  onclick="UserLogout()" class="w-1/4  text-center relative mr-2 py-3  font-bold text-md  bg-primary rounded-md border-2 border-primary/20 text-white px-4 block justify-between">
                <label>로그아웃</label>

            </div>
        </div>
       
        
        <ul class="p-5 text-2xl font-bold text-slate-500">
            <li class="py-2">
                <label class="text-lg mb-2 bg-main rounded-md border-2 border-slate-100 text-primary px-4 py-2 block" onclick="location.href='Frame-BTCUSD.html'">투자하기</label>
                <div class="drop-menu w-full  p-4 top-16 left-0 text-slate-300">
                    <div class="mb-2 child-drop-menu relative cursor-pointer" onclick="location.href='Frame-BTCUSD.html'">
                        <span class=" text-sm block font-bold text-slate-500 ">BTC/USD 투자</span>
                        <span class="text-xs text-slate-500 font-medium">ONE BTC의 새로운 보안시스템</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                            </svg>
                        </div>
                    </div>
                    <div class="mb-2 child-drop-menu relative cursor-pointer" onclick="location.href='Frame-ETHUSD.html'">
                        <span class=" text-sm  block font-bold text-slate-500 ">ETH/USD 투자</span>
                        <span class="text-xs text-slate-500 font-medium">ONE BTC에는 어떤 장점이 있는지 알아보세요</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                            </svg>
                        </div>
                    </div>
                </div>
            </li>
            <li class="py-2"  onclick="location.href='coinbase.html'">
                <label class="text-lg mb-2  bg-main rounded-md border-2 border-slate-100 text-primary px-4 py-2 block">소개</label>
            </li>

            <li class="py-2">
                <label class="text-lg mb-2 bg-main rounded-md border-2 border-slate-100 text-primary px-4 py-2 block"> 원화 입출금</label>
                <div class="drop-menu w-full  p-4 top-16 left-0 text-slate-300">
                    <div class="mb-2 child-drop-menu relative cursor-pointer" onclick="location.href='deposit.html'">
                        <span class=" text-sm block font-bold text-slate-500 ">원화입금</span>
                        <span class="text-xs text-slate-500 font-medium">쉬운 방법으로 간편한 원화 입금</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                            </svg>
                        </div>
                    </div>
                    <div class="mb-2 child-drop-menu relative cursor-pointer" onclick="location.href='withdrawal.html'">
                        <span class=" text-sm  block font-bold text-slate-500 ">원화출금</span>
                        <span class="text-xs text-slate-500 font-medium">간편하고 쉽게 즉시 출금받기</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                            </svg>
                        </div>
                    </div>
                    <div class="mb-2 child-drop-menu relative cursor-pointer" onclick="location.href='transaction-history.html'">
                        <span class=" text-sm  block font-bold text-slate-500 ">입출금 내역조회</span>
                        <span class="text-xs text-slate-500 font-medium">간편하게 입출금 내역 조회하기</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                            </svg>
                        </div>
                    </div>
                </div>
            </li>
            <li class="py-2">
                <label class="text-lg mb-2 bg-main rounded-md border-2 border-slate-100 text-primary px-4 py-2 block" onclick="location.href='trading.html'">고객지원            </label>
                <div class="drop-menu w-full  p-4 top-16 left-0 text-slate-300">
                    <div class="child-drop-menu relative cursor-pointer" onclick="location.href='trading.html'">
                        <span class="text-sm mb-1 block font-bold text-slate-500 title">나의 거래내역</span>
                        <span class="text-xs text-slate-500 font-medium">자주 묻는 질문</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                            </svg>
                        </div>
                    </div>
                    <div class="child-drop-menu relative cursor-pointer" onclick="location.href='my-info.html'">
                        <span class=" text-sm mb-1 block font-bold text-slate-500 title">내정보</span>
                        <span class="text-xs text-slate-500 font-medium">내 정보를 확인하세요</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                            </svg>
                        </div>
                    </div>
                    <div class="child-drop-menu relative cursor-pointer"
                        onclick="location.href='my-page-inbox.html'">
                        <span class=" text-sm mb-1 block font-bold text-slate-500 title">우편함</span>
                        <span class="text-xs text-slate-500 font-medium">중요한 정보를 확인</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                            </svg>
                        </div>
                    </div>
                    <div class="child-drop-menu relative cursor-pointer"
                        onclick="location.href='customer-service.html'">
                        <span class=" text-sm block font-bold text-slate-500 title">고객센터</span>
                        <span class="text-xs text-slate-500 font-medium">궁금한 사항을 확인하세요 <br /> 상담사가 대기중입니다.</span>
                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                            </svg>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>